.home {
  /* background-image: url(public/universe.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: image; */
  background: linear-gradient(to bottom, black 0%, black 50%, rgb(53, 29, 90) 100%);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  background-color: #caf1de;
}